.container{

    min-height: 65vh;
    /* width: 25vw; */
    width: 23rem;

    /* border: 2px solid black; */
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 12%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    word-wrap: break-word;
        border-radius: 0.25rem;
    position: relative;
}

.top{

    height: 20vh;
    position: relative;
    /* border: 1px solid red; */

}

.top>:first-child{

    object-fit: cover;
    height: 100%;
    width: 100%;
}

.top>:nth-child(2){
    position: absolute;
    top: 10vh;
    left: 1vw;
    font-size: 1.5rem;
    color: white;
    font-weight: 900;
}

.top>:nth-child(3){
    position: absolute;
    top: 1vh;
    left: 1vw;
    height: 30px;
}





.mid{
border-bottom: 1px solid #BDBDBD;
min-height: 25vh;
}

.mid>:first-child{
    
    margin-left: 1vw;
    font-size: 1.3rem;
    color: black;
    font-weight: 700;
}

.mid>:nth-child(2){
   
    font-size: 1.3rem;
    color: gray;
    margin-left: 1vw;
    /* font-weight: 700; */
}


.bottom{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-around;
}

.bottomLeft{
    /* border-bottom: 1px solid #BDBDBD;  */
    /* margin-right: 1%; */


}

.bottomLeft>:first-child, .bottomRight>:first-child{
    /* font-size: 1.1rem; */
    color: #9E9E9E;
    /* font-weight: 700; */
}

.bottomLeft>img{
    height:20px;
    position: relative;
    left: 70px;
    top: -35px;
    /* color: #BDBDBD; */
}

.bottomRight, .bottomLeft{
    cursor: pointer;
    /* margin: auto; */
}

.bottomRight>img{
    height:20px;
    position: relative;
    right: -130px;
    top: -35px;
}


.hrRight{
    border-bottom:1px solid #BDBDBD;
    width: 120%;
    background: gray;
    margin-top:-30px;
}
.hrLeft{
    border-bottom:1px solid #BDBDBD;
    width: 150%;
    background: gray;
    margin-top:-30px;
}


/* .bottom>button{
    position: relative;
    height: 30px;
    top: 100px;
    background-color: transparent;
    border:1px solid green;
    color: green;
    font-weight: 700;
    border-radius: 5px;
}

.bottom>button:hover{
    background-color: green;
    color: white;
} */

.addToCart{
    /* margin-right: 20px; */
    margin-top: 10px;
    margin-left: 15vw;
    height: 30px;
    background-color: transparent;
    border:1px solid green;
    color: green;
    font-weight: 700;
    border-radius: 5px;
    margin-bottom: 10px;
}
.addToCart:hover{
    background-color: green ;
    color: white;
    /* z-index: 2; */
}


@media screen and (max-width:600px){
    .addToCart{
        width: 90%;
        /* margin-left: 20px; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 10px;

    }
    .addToCart:hover{
        background-color: green;
        color: white;
    }
    
}