.container{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    justify-content: space-evenly;
    margin-left: 5%;

}

.container>div{
    margin-top: 2%;
}


@media screen and (max-width: 600px) {
    .container{
        width: 90%;
        flex-direction: column;
        /* margin: auto; */
    }

    
}
    
